<%= erb :nav %>

<div class="container logged">
  <div class="page-title">
    <h1>系统设置</h1>
  </div>

  <div class="actions">
    <div class="action">
      <div class="col-lg-3">
        清空日志
      </div>
      <div class="col-lg-7">
        清空所有上传的日志
      </div>
      <div class="col-lg-2">
        <a href="/manage/options/drop_all_log">
          <button class="btn btn-danger">清空日志</button>
        </a>
      </div>
    </div>
  </div>
</div>
